/*@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";*/

/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
/*
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}*/
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
td img{
  width: 34px;
  height: 34px;
  opacity: 0.8;
}
#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #1a1a1a;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}

#page-content-wrapper {
  padding-top: 50px;
  width: 100%;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}

/*.sidebar-nav li{
  text-align: center;
}*/
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
#siderbar_title{
  text-align: left;
  margin-top: 10%;
  font-size: 1.0em;
  text-shadow: 1px 1px 2px #666;
}
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 20px;
  width: 32px;
  z-index: 999;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  top: 5px;
}
.hamburger.is-closed .hamb-middle {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ffffff;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: #ffffff;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ffffff;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
/* SOME DEMO STYLES - NOT REQUIRED */
.sun{
  background:url(../images/sun.jpg) no-repeat;
  background-position: center center;
  background-size:cover;
  background-attachment: fixed;
}

.cloud{
  background:url(../images/cloud.jpg) no-repeat;
  background-position: center center;
  background-size:cover;
  background-attachment: fixed;
}

.shadow{
  background:url(../images/shadow.jpg) no-repeat;
  background-position: center center;
  background-size:cover;
  background-attachment: fixed;
}

.snow{
  background:url(../images/snow.jpg) no-repeat;
  background-position: center center;
  background-size:cover;
  background-attachment: fixed;
}

.rain{
  background:url(../images/rain.jpg) no-repeat;
  background-position: right center;
  background-size:cover;
  background-attachment: fixed;
}

.error_bg{
  background:url(../images/error.jpg) no-repeat;
  background-position: right center;
  background-size:cover;
  background-attachment: fixed;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 5px 5px 5px black;
  text-align: center;
}

.error{
  color: red;
}
p,td{
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 5px 5px 5px black;
}
body a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-shadow: 5px 5px 5px black;
}
body a:hover {
  color: #ffffff;
  text-decoration:underline;
}

.page-content-wrapper p{
  text-align: center;
}

#wind span{
  margin-right: 8px;
}

#days{
  border-top: 2px solid rgba(0,0,0,0.4);
  margin-top: 50px;
  background: rgba(10,10,10,0.5);
}

#a{
  margin-top: -5%;
  padding-top: 3%;
  background: rgba(10,10,10,0.5);
}
#canvas{

  height: 200px;
}



#days tr{
  border-bottom:2px solid rgba(0,0,0,0.4);
}

#canvas{
  height: 400px;
  background: rgba(10,10,10,0.5);
}

#top{
  position: fixed;
  right: 4%;
  bottom: 12%;

}

#bottom{
  width: 100%;
  position: fixed;
  bottom: 0px;
  background: rgba(10,10,10,0.5);
}

#bottom div{
  margin-bottom: 7px;
}
#bottom hr{
  height:1px;
  border:none;
  background-color: white;
  color: white;
  margin-top: 0;
  opacity: 0.6;
}

#bottom div span:first-child{
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 5px 5px 5px black;
  margin-left: 2%;
}

#bottom div span:nth-child(2){
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 5px 5px 5px black;
  position: absolute;
  left: 83%;
}


#weather_app{
  display: block;
}

.common{
  background: rgba(150,150,150,0.8);
}

#beauty div div img{
  border-radius: 15px 15px;
  box-shadow: 5px 5px 5px;
}

/*瀑布流外层*/
.waterfall_outer{
  width:80%;
  margin: 0 auto;
}

.waterfall{
  -moz-column-count:4; /* Firefox */
  -webkit-column-count:4; /* Safari 和 Chrome */
  column-count:4;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
}

/*一个内容层*/
.water_item{
  padding: 0 0 0 0;
  margin: 0 0 1em 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
.water_item img{
  width: 100%;
}

@media screen and (max-width: 980px){
  .waterfall{
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari 和 Chrome */
  column-count:2;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
}
}
